:root {
    --purple: #af7de9;
    --darkpurple: #6920df; 
    --pastelpink: #eb7dd3; 
    --blue: #53c9c9; 
    --orange: #f7955c; 
    --white: #ffffff; 
}
body {
display: grid;
grid-template-areas:
"header header"
"main nav"
"footer footer";
grid-template-columns: 2fr 1fr;
grid-template-rows: 120px 1fr 60px; }
header {
grid-area: header;
}
nav {
grid-area: nav; }
main {
grid-area: main; }
footer {
grid-area: footer; }
nav ul {
list-style: none; 
}
nav a {
text-decoration: none;
}
nav ul li {
margin: 20px;

}
nav a:hover {
text-decoration: underline;
}
nav ul li {
    padding: 10px;
}
h1 {
    color: var(--white);
}
